#modal-content {
  width: 100%;
  height: 50px;
  padding-top: 20px;
  background: white ;
  position: fixed ;
  display: none ;
  z-index: 999 ;
}

#modal-overlay {
  z-index: 1 ;
  display: none ;
  position: fixed ;
  top: 0 ;
  left: 0 ;
  width: 100% ;
  height: 120% ;
  background-color: rgba( 0,0,0,0.5 );
}

#modal-text{
  font-size: 30px;
}

.modal-p{
  margin-top:1em;
}

.modal-p:first-child{
  margin-top:0;
}

.button-link{
  color:#00f;
  text-decoration:underline;
}

.button-link:hover{
  cursor:pointer;
  color:#f00;
}

img {
  width: 600px;
  height: 500px;
}

body{
  padding-top: 100px;
  text-align : center;
  background-color: #FDF6F6;
}
